Repository oss2019/InstituteFormsPortal, pull requests merged in 2023-09, with the labels that each got.

#4 Work flow design
  README.md
Labels: size/XS

#6 Added prisma schema according to the chart
  prisma/schema.prisma
Labels: size/M, database

#7 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, size/S, repo

#11 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, size/M, repo
